#가상환경
.vscode
.venv
#환경변수
.env
#파이썬
*.splite3
*.db
*.__pycache__

# 디렉토리 무시
.ipynb_checkpoints/
**/.ipynb_checkpoints/

data/

extracted_files/

*.zip

*.txt
deep-learning/cifar-10-batches-py/batches.meta
deep-learning/cifar-10-batches-py/data_batch_1
deep-learning/cifar-10-batches-py/data_batch_2
deep-learning/cifar-10-batches-py/data_batch_3
deep-learning/cifar-10-batches-py/data_batch_4
deep-learning/cifar-10-batches-py/data_batch_5
deep-learning/cifar-10-batches-py/readme.html
deep-learning/cifar-10-batches-py/test_batch
deep-learning/cifar-10-python.tar.gz
